{% extends "base.html" %}
{% load app_filters %}
{% block content %}
<div class="container">
    <h1>{{ kb_cat.title }}</h1>
    {% if kb_cat.description %}
    <div class="well">
        {{ kb_cat.description|mush_to_html }}
    </div>
    {% endif %}

    <h2>Entries</h2>
    {% for entry in kb_items %}
    <div class="dividingBorderAbove">
        <p class="newsHeading">{{ entry.title|mush_to_html }}</p>
        {% if entry.question %}
        <p class="newsSummary"><strong>Question:</strong> {{ entry.question|mush_to_html }}</p>
        {% endif %}
        {% if entry.question %}
        <p class="newsSummary"><strong>Answer:</strong> {{ entry.answer|mush_to_html }}</p>
        {% endif %}
    </div>
    {% empty %}
    <div class="newsSummary">None yet exist.</div>
    {% endfor %}
</div>
{% endblock %}
