{% extends "base.html" %}
{% load app_filters %}
{% block content %}
<div class="container">
    {% if kb_parent %}
    <a href="{% url 'help_topics:lore' kb_parent.id %}">&laquo;&nbsp;Back to {{ kb_parent.title|mush_to_html }}</a>
    {% else %}
    <a href="{% url 'help_topics:list_topics' %}#Lore">&laquo;&nbsp;Back to Lore Topics</a>
    {% endif %}

    <h1 class="text-center">{{ kb_cat.title }}</h1>
    {% if kb_cat.description or kb_subs %}
    <div class="well">
        {% if kb_subs %}
        <strong>Subcategories:</strong>&nbsp;
        <ul class="list-inline">
		{% for subcat in kb_subs %}
			<li class="list-inline-item"><a href="{% url 'help_topics:lore' subcat.id %}">{{ subcat }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        <p>{{ kb_cat.description|mush_to_html }}</p>
    </div>
    {% endif %}

    <h2>Entries</h2>
    {% for entry in kb_items %}
    <div class="dividingBorderAbove">
        <p id="{{ entry.title|mush_to_html }}">
            <a href="#{{ entry.title|mush_to_html }}" class="newsHeading">{{ entry.title|mush_to_html }}</a>
        </p>
        {% if entry.question %}
        <p class="newsSummary"><strong>Question:</strong> {{ entry.question|mush_to_html }}</p>
        {% endif %}
        {% if entry.answer %}
        <p class="newsSummary"><strong>Answer:</strong> {{ entry.answer|mush_to_html }}</p>
        {% endif %}
    </div>
    {% empty %}
    <div class="newsSummary">None yet exist.</div>
    {% endfor %}
</div>
{% endblock %}
