{% extends "base.html" %}
{% load app_filters %}
{% block content %}
	<button data-toggle="collapse" data-target="#Recipes">
    <h2>Crafting Recipes</h2></button><hr />
    <form method="get" action="." class="navbar-form">
    <input type="text" id="searchBox" class="input-medium search-query" name="recipe_name" placeholder="Recipe Name">
    <input type="text" id="searchBox" class="input-medium search-query" name="difficulty" placeholder="Minimum difficulty">
    <div class="form-group">
    <label for="sel1">Ability List:</label>
        <select class="form-control" id="sel1" name="ability">
            <option value=""></option>
            <option value="weaponsmith">Weaponsmith</option>
            <option value="jeweler">Jeweler</option>
            <option value="armorsmith">Armorsmith</option>
            <option value="carpenter">Carpenter</option>
            <option value="tailor">Tailor</option>
            <option value="leatherworker">Leatherworker</option>
            <option value="apothecary">Apothecary</option>
        </select>
    </div>
    <input type="submit" class="btn" value="Search" >
    </form>
	<div id="Recipes" class="collapse in">
	<table class="table table-hover">
	<tr class="danger">
		<td>Name</td>
		<td>Ability</td>
		<td>Difficulty</td>
		<td>Requirements</td>
        <td>Base Stats</td>
		<td>Description</td>
	</tr>
	{% for recipe in all_recipes %}
		{% if recipe in known_recipes %}
		<tr class="success">
		{% else %}
		<tr>
		{% endif %}
		<td width="20%">{{ recipe.name }}</td>
		<td width="10%">{{ recipe.ability }}</td>
		<td width="10%">{{ recipe.difficulty }}</td>
		<td width="20%">{{ recipe.display_reqs|mush_to_html }}</td>
        <td width="10%">{{ recipe.baseval }}</td>
		<td width="50%">{{ recipe.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
	<button data-toggle="collapse" data-target="#Materials">
    <h2>Crafting Materials</h2></button><hr />
	<div id="Materials" class="collapse in">
	<table class="table table-hover">
	<tr class="danger">
		<td>Name</td>
		<td>Value</td>
		<td>Category</td>
		<td>Description</td>
	</tr>
	{% for mat in materials %}
		<tr>
		<td width="10%">{{ mat.name }}</td>
		<td width="10%">{{ mat.value }}</td>
		<td width="20%">{{ mat.category }}</td>
		<td width="70%">{{ mat.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
{% endblock %}