{% extends "helpdesk/public_base.html" %}{% load i18n %}

{% block helpdesk_body %}
<h2>{% blocktrans with item.title as item %}Knowledgebase: {{ item }}{% endblocktrans %}</h2>

<table class="table table-hover table-bordered table-striped">
<caption>{{ item.title }}</caption>
<tbody>
<tr><th>{{ item.question }}</th></tr>
<tr><td>{{ item.answer }}</td></tr>
</tbody>
</table>

<p>{% blocktrans with item.category.title as category_title and item.category.get_absolute_url as category_url %}View <a href='{{ category_url }}'>other <em>{{ category_title }}</em> articles</a>, or continue <a href='../'>viewing other knowledgebase articles</a>.{% endblocktrans %}</p>

{% endblock %}
