{% extends "base.html" %}
{% load app_filters %}
{% block content %}
    <div class="container">
        <a class="btn btn-primary" href="{% url "character:list_actions" object_id %}">Back to actions</a>
        <div>
            {% if form_errors %}
                {{ form_errors }}
            {% endif %}
            <form method="post">{% csrf_token %}
                <table width="100%">
                {{ form.as_p }}
                </table>
            <input class="btn btn-success" type="submit" value="Submit Changes" />
        </div>
    </div>
{% endblock %}