name: test-suite

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install requirements and evennia
        run: |
          export ARX_DIR=$(pwd)
          cd ..
          git clone https://github.com/TehomCD/evennia.git
          cd evennia
          pip install -e .
          cd $ARX_DIR
          pip install -r requirements.txt
          pip install coveralls
          mkdir server/logs

      - name: Run tests
        run: |
          evennia migrate
          coverage run --source=$ARX_DIR --omit=*/migrations/*,*/test*.py,*.sh,*.txt,*.md,*.pyc $(which evennia) test --settings=test_settings .
          coveralls

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
